<select #selectMonth (change)="setSelectedchange($event.target.value)">
   <option *ngFor="let m of monthset" [value]="m.value">{{m.month}}</option>
</select>

<div class="panel panel-primary">

  <div class="panel-body">

    <div class="col-xs-10">

      <div class="row vertical-align">

        <div class="col-xs-8">

          <div class="row">
            <div class="col-xs-6">
              Name
            </div>
            <div class="col-xs-6">
            {{employe?.name}} 
            </div>
          </div>
           <div class="row">
            <div class="col-xs-6">
              Milk Rate
            </div>
            <div class="col-xs-6">
            {{employe?.milkrate}} 
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
            Phone 
            </div>
            <div class="col-xs-6">
            {{employe?.phone}} 
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Address
            </div>
            <div class="col-xs-6">
            {{employe?.address}} 
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
           Apartment Name 
            </div>
            <div class="col-xs-6">
            {{employe?.apartmentName}} 
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-xs-12">
        <table class="table">
  <thead>
    <th>Date</th>
      <th>Quantity</th>
      
  </thead>
  <tbody>
    <tr *ngFor="let employeeone of bills">
      <td>{{employeeone.datesetofBills}}</td>
       <td>{{employeeone.milkQuantityofBills}}</td>
    </tr>
     </tbody>
  </table>
    </div>
<div class="row">
<div class="col-xs-6 font-weight-bold">Total Quantity: {{totalMilk}}</div>


<div class="col-xs-6 font-weight-bold">Total Amount: {{totalAmount}}</div>

</div>
  </div>
  <div class="panel-footer">
    <a class="btn btn-primary" [routerLink]="['/list']">
      Back to List
    </a>

  </div>
</div>